@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Spartan", sans-serif;
    color: rgb(27, 27, 27);
    letter-spacing: 0.4em;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Spartan", sans-serif;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 0.4em;
}

.logo {
    width: 70px;
    height: 70px;
}

header a {
    display: flex;
    color: rgb(27, 27, 27);
    //   border-width: 0px;
    align-items: center;
    margin: 0;
}

.nav_menu {
    display: flex;
    color: rgb(27, 27, 27);
    align-items: center;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: 0.2em;

    a {
        margin: 0 12px 0;
    }
}

main {
    // position: ;
}
h2 {
    margin-bottom: 0;
    text-align: center;
    margin-top: 0px;
    color: #0e0d0de8;
    font-weight: bold;
}
.wrap {
    //   display: flex;
    max-width: auto;
    margin: 0;
    //   padding: 0 5%;
    //   align-items: center;
    text-align: center;
    h2 {
        font-size: 70px;
        padding-bottom: 0;
        // margin:100px 0 0;
        text-align: center;
    }
}
.home-contents {
    position: relative;
    color: #0e0d0dc2;
}
.home-article {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: max-content;
}
.home-title {
    padding: 100px 0 100px;
    text-align: center;
}
p {
    text-align: center;
    padding: 0px;
    margin-top: 8px;
    font-size: 1.1em;
    font-weight: bold;
}

.bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}

.home {
    background-image: url(/images/IMG_5010.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    min-height: 80vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.footer-wrap {
    background-color: #43ecd0a4;
    height: 60px;
    text-align: center;
    p {
        padding: 20px 0 20px;
        font-weight: lighter;
        font-size: smaller ;
        margin: 0;
    }
}