@charset "UTF-8";

// common
html {
    font-size: 100%;
}

body {
    font-family: "Spartan", sans-serif;
    color: rgb(27, 27, 27);
    letter-spacing: 0.4em;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Spartan", sans-serif;
}

h1 {
    font-size: 1.3rem;
    letter-spacing: 0.4em;
}

.logo {
    width: 70px;
    height: 70px;
}

header a {
    display: flex;
    color: rgb(27, 27, 27);
    //   border-width: 0px;
    align-items: center;
    margin: 0 5px;
}
// navigation-menu
.nav_menu {
    display: flex;
    color: rgb(27, 27, 27);
    align-items: center;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: 0.2em;

    a {
        margin: 0 12px 0;
    }

    li {
        margin-left: 20px;
    }
}

.wrap {
    //   display: flex;
    max-width: auto;
    margin: 0;
    //   padding: 0 5%;
    //   align-items: center;
    text-align: center;
    h2 {
        font-size: 70px;
        padding-bottom: 0;
        // margin:100px 0 0;
        text-align: center;
        color: #161616f1;
    }

    p {
        font-weight: bolder;
    }
}

h2 {
    margin-bottom: 0;
    text-align: center;
    margin-top: 0px;
    color: #0e0d0dfa;
    font-weight: bold;
}

.home-contents {
    position: relative;
    color: #0a0a0a;
}
.home-article {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: max-content;
}
.home-title {
    padding: 5px 0 5px;
    text-align: center;
    margin-bottom: 0px;
}
p {
    text-align: center;
    padding: 0px;
    //margin-top: 8px;
    font-size: 1.1em;

}

.bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.home {
    background-image: url(images/topcover_l.png);
    background-color: rgba(255, 255, 255, 0.253);
    background-blend-mode: lighten;
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.about-article {
    margin-top: 100px;
    h2 {
        font-size: 3.5em;
        font-weight: 300;
        font-family: 'Amatic SC', cursive;

    }
}

.about-content {
    margin: 20px 0 100px;
    max-width: 50vw;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    p {
        font-size: 1em;
        text-align: justify;
    }
}
p .aboutPara {
    font-weight: lighter;
    font-family: 'Sawarabi Gothic', sans-serif;

}

.slider {
    height: 700px;
}

.footer-wrap {
    background-color: #6fc3fcd8;
    height: 60px;
    text-align: center;
    position: absolute;
    width: 100%;
    p {
        //padding: 20px 0 20px;
        position: relative;
        width: 100%;
        font-weight: lighter;
        font-size: 0.7em;
        margin: 0;
        font-weight: normal;
        letter-spacing: 0.3em;
        color: white;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
}
